.body {
	background: #282828;
	background: linear-gradient(-45deg, steelblue, lightsteelblue, snow);
	background-size: 400% 400%;
	animation: Gradient 20s ease infinite;
	min-height: 100%;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.photo img {
	width:210px;
	height:310px;
}
nav {
	float: center;
}

.nav-bar li {
	margin: 30px;
	text-align: center;
}

@media screen and (min-width: 600px) {
  nav {
	float: right;
	}
}

.nav-link{
	display: inline-block;
	text-align: center;
}

.nav-bar a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.nav-bar a:visited {
	text-decoration: none;
	color: black;
}

.nav-bar a:hover {
	color: white;
	transition: 0.5s;
}

.nav-bar {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.info-text {
	color: #000;
	font-size: 15px;
}

.info-text a{
	color: #000;
}
.info-text a:hover{
	color: white;
	transition: 0.5s;
}

.media a{
	margin: 5px 60px;
	display: inline-block;
	font-size: 30px;
	padding: 10px;
	color: black;
	border: 1px solid black;
	border-radius: 30%
}

.media a:hover{
	color: white;
	border: 1px solid white;
	transition: 0.5s;
}

.info-row {
	min-height: 95vh;
}

footer {
	text-align: left;
	color: black;
	padding-left: 20px;
}
