.body {
	min-width: 1000px;
	background: #282828;
	background: linear-gradient(-45deg, royalblue, steelblue, snow);
	background-size: 400% 400%;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.nav-bar li {
	float: right;
	margin: 30px;
	text-align: center;
}

.nav-link{
	display: inline-block;
	text-align: center;
}

.nav-bar a {
	text-decoration: none;
	font-size: 15px;
}

.nav-bar a:visited {
	text-decoration: none;
	color: #000;
}

.nav-bar a:hover {
	color: white;
	transition: 0.5s;
}

.nav-bar {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.info-text {
	color: #000;
}

.info-text a{
	color: #000;
}
.info-text a:hover{
	color: white;
	transition: 0.5s;
}

.media a{
	margin: 5px 60px;
	display: inline-block;
	font-size: 30px;
	padding: 10px;
	color: black;
	border: 1px solid black;
	border-radius: 30%
}

.media a:hover{
	color: white;
	border: 1px solid white;
	transition: 0.5s;
}